<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>			
		<!-- EMAIL PARAMETERS -->		
		<add key="Email.From" value="lmferros@di.uminho.pt"/>
		<add key="Email.To" value="lmferros@di.uminho.pt"/>
		<add key="SmtpMail.SmtpServer" value="mx2.di.uminho.pt"/>
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
