<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="infoMessages" type="System.Configuration.DictionarySectionHandler" />
		<section name="sqlServerSettings" type="System.Configuration.DictionarySectionHandler" />
	</configSections>
	
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="lblTitle.Text" value="CONFIGURAÇÃO DA BASE DE DADOS:" />
		<add key="lblServerAddress.Text" value="Servidor de base dados:" />
		<add key="lblDatabase.Text" value="Base dados:" />
		<add key="lblInstallationType.Text" value="Tipo de instalação:" />
		<add key="txbServerAddress.Text" value=".\SQLExpress" />
		<add key="txbDataBase.Text" value="Digitarq2" />
		<add key="rbtnStandalone.Text" value="Monoposto" />
		<add key="btnNext.Text" value="Seguinte &gt;" />
		<add key="btnCancel.Text" value="Cancelar" />
		<add key="LinkClose.Text" value="Fechar" />
		<!-- Standalone=true <=> SQL Server 2005 -->
		<!-- Standalone=false <=> SQL Server 2000 -->
		<!-- Standalone=false <=> SQL Server 2005 -->
		<add key="Standalone" value="false" />
		<add key="SQLServer" value="2005" />
	</appSettings>
	
	<sqlServerSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="ServerAddress" value=".\SQLExpress" />
		<add key="Database" value="Digitarq2" />
		<add key="Username" value="digitarq2" />
		<add key="Password" value="digitarq2008" />
	</sqlServerSettings>
	
	<infoMessages>
		<add key="Process.Ok" value="Ok" />
		<add key="Process.Failed" value="Falhou" />
		<add key="Database.Initializing" value="A iniciar configuração da base dados... " />
		<add key="Database.CreateDatabase" value="A criar base de dados {0}... " />
		<add key="Database.CreateTables" value="A criar tabelas... " />
		<add key="Database.InsertRecords" value="A inserir registos base... " />
		<add key="Database.CreateProcedures" value="A criar procedimentos... " />
		<add key="Database.CreateLogins" value="A criar utilizadores... " />
		<add key="Database.CreateFullTextIndex" value="A criar full-text index... " />
		<add key="Database.Failed" value="A configuração da base dados falhou. A aplicação será terminada." />
		<add key="Database.Success" value="Sucesso" />
	</infoMessages>
	
</configuration>
