<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="references" type="System.Configuration.DictionarySectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="sqlServerSettings" type="System.Configuration.DictionarySectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <!-- application specific settings -->
  <appSettings>
    <add key="Aplication.Code" value="MGUP"/>
    <add key="Aplication.Name" value="administracao"/>
    <add key="Aplication.Designation" value="Módulo de Gestão de Utilizadores e Produtividade"/>
    <add key="Aplication.Version" value="2.1.0"/>
    <add key="Institution.Code" value="AMO"/>
    <add key="Institution.Name" value="Arquivo Municipal de Ourém"/>
    <add key="Institution.URL" value="http://www.cm-ourem.pt"/>
    <add key="Footer.Text" value=".:: Módulo de Administração ::."/>
    <add key="HEAD.Title" value=".:: Módulo de Administração ::."/>
    <add key="CountryCode" value="PT"/>
    <add key="RepositoryCode" value="DGARQ/AMO"/>
    <add key="DefaultLanguage" value="pt-PT"/>
    <add key="urlAplicationFunctions" value="defaultIn.aspx?page=gpu-2.1&amp;select=gpu-2.1.1"/>
    <add key="BackupDirectory" value="C:\Documents and Settings\Luís Miguel Ferros\Ambiente de trabalho\BasesDados\"/>
    <!-- ADMINISTRATION -->
    <add key="gpu-0" value="error.ascx"/>
    <add key="gpu-1.1" value="employees.ascx"/>
    <add key="gpu-1.1.1" value="employeesMenu1.ascx"/>
    <add key="gpu-1.1.2" value="employeesMenu2.ascx"/>
    <add key="gpu-1.2" value="profiles.ascx"/>
    <add key="gpu-1.2.1" value="profilesMenu1.ascx"/>
    <add key="gpu-1.2.2" value="profilesMenu2.ascx"/>
    <add key="gpu-2.1" value="aplications.ascx"/>
    <add key="gpu-2.1.1" value="aplicationsMenu1.ascx"/>
    <add key="gpu-2.1.2" value="aplicationsMenu2.ascx"/>
    <!-- DIGITARQ STATISTICS -->
    <add key="gpu-3.1" value="statsIBD.ascx"/>
    <add key="gpu-3.1.1" value="statsIBDsub.ascx"/>
    <add key="gpu-3.1.2" value="statsIBDGerRel.ascx"/>
    <add key="gpu-3.2" value="statsIPG.ascx"/>
    <add key="gpu-3.2.1" value="statsPGArq.ascx"/>
    <add key="gpu-3.2.2" value="statsPGFunc.ascx"/>
    <add key="gpu-3.3" value="systemResources.ascx"/>
    <!-- GOD STATISTICS -->
    <add key="gpu-4.1" value="statsGPGOD.ascx"/>
    <add key="gpu-4.2" value="statsArchiveGPGOD.ascx"/>
    <!-- EMAIL PARAMETERS -->
    <add key="Email.From" value="informatica@mail.cm-ourem.pt"/>
    <add key="Email.Administrator" value="informatica@mail.cm-ourem.pt"/>
    <add key="SmtpMail.SmtpServer" value="mail.cm-ourem.pt"/>
  </appSettings>
  <sqlServerSettings>
    <add key="ServerAddress" value=".\DIGITARQDBMS"/>
    <add key="Database" value="Digitarq2"/>
    <add key="Username" value="digitarq2"/>
    <add key="Password" value="digitarq2008"/>
    <add key="ConnectTimeout" value="200"/>
  </sqlServerSettings>
  <references>
    <add key="gpu-0" value="defaultIn.aspx?page=gpu-0"/>
    <add key="gpu-1.1" value="defaultIn.aspx?page=gpu-1.1"/>
    <add key="gpu-1.1.1" value="defaultIn.aspx?page=gpu-1.1&amp;select=gpu-1.1.1"/>
    <add key="gpu-1.1.2" value="defaultIn.aspx?page=gpu-1.1&amp;select=gpu-1.1.2"/>
    <add key="gpu-1.2" value="defaultIn.aspx?page=gpu-1.2"/>
    <add key="gpu-1.2.1" value="defaultIn.aspx?page=gpu-1.2&amp;select=gpu-1.2.1"/>
    <add key="gpu-1.2.2" value="defaultIn.aspx?page=gpu-1.2&amp;select=gpu-1.2.2"/>
    <add key="gpu-2.1" value="defaultIn.aspx?page=gpu-2.1"/>
    <add key="gpu-2.1.1" value="defaultIn.aspx?page=gpu-2.1&amp;select=gpu-2.1.1&amp;fid=null"/>
    <add key="gpu-2.1.2" value="defaultIn.aspx?page=gpu-2.1&amp;select=gpu-2.1.2"/>
    <!-- ESTATISTICAS -->
    <add key="gpu-3.1" value="defaultIn.aspx?page=gpu-3.1"/>
    <add key="gpu-3.1.1" value="defaultIn.aspx?page=gpu-3.1&amp;select=gpu-3.1.1"/>
    <add key="gpu-3.1.2" value="defaultIn.aspx?page=gpu-3.1&amp;select=gpu-3.1.2"/>
    <add key="gpu-3.2" value="defaultIn.aspx?page=gpu-3.2"/>
    <add key="gpu-3.2.1" value="defaultIn.aspx?page=gpu-3.2&amp;select=gpu-3.2.1"/>
    <add key="gpu-3.2.2" value="defaultIn.aspx?page=gpu-3.2&amp;select=gpu-3.2.2"/>
    <add key="gpu-3.3" value="defaultIn.aspx?page=gpu-3.3"/>
    <!-- ESTATISTICAS GOD -->
    <add key="gpu-4.1" value="defaultIn.aspx?page=gpu-4.1"/>
    <add key="gpu-4.2" value="defaultIn.aspx?page=gpu-4.2"/>
  </references>
  <system.web>
    <httpModules>
      <add name="WebChartImageStream" type="blong.WebControls.WebChartImageStream, blong"/>
    </httpModules>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="vb" debug="true"/>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="defaultIn.aspx?page=gpu-0"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Forms">
      <forms name="Restrito" loginUrl="default.aspx?page=login" protection="All" timeout="20"/>
    </authentication>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
  <location path="defaultIn.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>