<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="sqlServerSettings" type="System.Configuration.DictionarySectionHandler"/>
	</configSections>
	
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="chErrorDescription.Text" value="Descrição Erro"/>
	</appSettings>
	
	
	<sqlServerSettings>
		<add key="ServerAddress" value="server3"/>
		<add key="Database" value="digitarq"/>
		<add key="Username" value="digitarq"/>
		<add key="Password" value="qratigid"/>
		<add key="SA_Username" value="sa"/>
		<add key="SA_Password" value="kztu95b"/>
	</sqlServerSettings>
	<!--
	<sqlServerSettings>
		<add key="ServerAddress" value="(local)" />
		<add key="Database" value="digitarq" />
		<add key="Username" value="digitarq" />
		<add key="Password" value="digitarq" />
		<add key="SA_Username" value="sa" />
		<add key="SA_Password" value="sa" />
	</sqlServerSettings>
	-->

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
