<?xml version="1.0" encoding="utf-8"?>
<configuration>

<configSections>
	<section name="sqlServerSettings" type="System.Configuration.DictionarySectionHandler"/>
</configSections>

	<appSettings>
		<add key="ThreadPriority" value="2"/>  <!-- DOMAIN = {1, 2, 3, 4, 5} - Bigger means higher priority -->
	</appSettings>
	
<!--
<sqlServerSettings>
	<add key="ServerAddress" value="server3" />
	<add key="Database" value="digitarq" />
	<add key="Username" value="digitarq" />
	<add key="Password" value="qratigid" />
	<add key="SA_Username" value="sa" />
	<add key="SA_Password" value="kztu95b" />
</sqlServerSettings>
-->
<sqlServerSettings>
	<add key="ServerAddress" value="(local)"/>
	<add key="Database" value="digitarq"/>
	<add key="Username" value="digitarq"/>
	<add key="Password" value="digitarq"/>
	<add key="SA_Username" value="sa"/>
	<add key="SA_Password" value="sa"/>
</sqlServerSettings>	

	
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
