<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="sqlServerSettings" type="System.Configuration.DictionarySectionHandler"/>
		<section name="TemplateSettings" type="System.Configuration.DictionarySectionHandler"/>
		<section name="InstitutionSettings" type="System.Configuration.DictionarySectionHandler"/>
		<section name="EmailSettings" type="System.Configuration.DictionarySectionHandler"/>
		<section name="constants" type="System.Configuration.DictionarySectionHandler"/>
		<section name="infoMessages" type="System.Configuration.DictionarySectionHandler"/>
		<section name="errMessages" type="System.Configuration.DictionarySectionHandler"/>
	</configSections>		
	
	<sqlServerSettings>
		<add key="ServerAddress" value=".\DIGITARQDBMS"/>
		<add key="Database" value="digitarq2"/>
		<add key="Username" value="digitarq2"/>
		<add key="Password" value="digitarq2008"/>
	</sqlServerSettings>
	
	<TemplateSettings>
		<add key="LogoPath" value="\..\resources\logo.jpg"/>
	</TemplateSettings>
	
	<constants>
		<!-- === Application Types === -->
		<!-- *** Client=0 *** -->
		<!-- *** Standalone=1 *** -->
		<add key="AplicationType" value="0"/>
	</constants>

	<InstitutionSettings>
		<add key="Institution.Code" value="CMO"/>
		<add key="Institution.Name" value="Município de Ourém"/>
		<add key="Institution.URL" value="http://www.cm-ourem.pt"/>
	</InstitutionSettings>
	
	<EmailSettings>
		<add key="Email.From" value="informatica@mail.cm-ourem.pt"/>
		<add key="Email.To" value="informatica@mail.cm-ourem.pt"/>
		<add key="SmtpMail.SmtpServer" value="mail.cm-ourem.pt"/>
		<add key="Email.Subject" value="Erro DigitArq: MPOD"/>
	</EmailSettings>
	
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="Application.Code" value="MPOD"/>
		<add key="Application.Name" value="Módulo de Publicação de Objectos Digitais"/>
		<add key="Application.FullName" value="Módulo de Publicação de Objectos Digitais {0}"/>
		<add key="Application.Version" value="2.1.2"/>
		<add key="lblVersion.Text" value="versão {0}"/>
				
								
		<!--=====================================================-->
		<!--===== FORMS =========================================-->
		<!--=====================================================-->
		<!-- FormLogin -->
		<add key="LoginForm.Text" value="Autenticação..."/>
		<add key="lblUsername.Text" value="Utilizador:"/>
		<add key="lblPassword.Text" value="Palavra-chave:"/>
		<add key="btnLogin.Text" value="&amp;Autenticar"/>
		<add key="btnCloseLoginForm.Text" value="&amp;Cancelar"/>
		
		<!-- SplashScreenLogin -->
		<add key="LinkClose.Text" value="Fechar"/>
				
		<!-- ChooseProjectForm -->	
		<add key="CP.gbxProjects.Text" value="Projectos"/>
		<add key="CP.gbxInfo.Text" value="Informação Geral"/>
		<add key="CP.lblName.Text" value="Nome"/>
		<add key="CP.lblLocation.Text" value="Localização"/>
		<add key="CP.lblEmployee.Text" value="Criado por"/>
		<add key="CP.lblCreationDateTime.Text" value="Data criação"/>
		<add key="CP.lblLastUpdateDateTime.Text" value="Última alteração"/>
		<add key="CP.lblDescription.Text" value="Observações"/>
		<add key="CP.lblWarning.Text" value="Projectos com objectos digitais que precisam de revisão."/>
		
		<!-- AssociationForm -->
		<add key="A.DigitalObjectName.Text" value="Nome do objecto digital"/>
		<add key="A.DigitalObjectoriginalName.Text" value="Nome original do objecto digital"/>
		
		<!-- AssDOForm -->
		<add key="ADO.gbxdescriptions.Text" value="Descrições"/>
		
		<!-- AssComponentForm -->
		<add key="AC.gbxDigitalObjects.Text" value="Objectos digitais"/>
				
		
		<!-- Buttons -->
		<add key="btnClose.Text" value="Fechar"/>
		<add key="btnNew.Text" value="Novo"/>
		<add key="btnDelete.Text" value="Eliminar"/>
		<add key="btnEdit.Text" value="Editar"/>
		<add key="btnSave.Text" value="Guardar"/>
		<add key="btnCancel.Text" value="Cancelar"/>
		<add key="btnRecover.Text" value="Recuperar"/>
		<add key="btnAssociate.Text" value="Associar Ficheiros"/>
		<add key="btnOpenProject.Text" value="Abrir projecto"/>
		<add key="btnNewProject.Text" value="Novo projecto"/>
		<add key="btnDeleteProject.Text" value="Eliminar projecto"/>
		<add key="btnDeleteAssociation.Text" value="Remover associação"/>
		<add key="btnViewDO.Text" value="Ver objectos digitais"/>
	</appSettings>
	
	<infoMessages>
		<add key="Login.ErrorUsernamePass" value="Utilizador ou palavra-chave inválidos."/>
		<add key="Login.ErrorNotProfile" value="Não tem perfil associado para aceder à aplicação."/>
		<add key="Login.ErrorNotActive" value="Utilizador inactivo."/>
		<add key="Login.ErrorAplicationAccessDenied" value="Acesso negado a esta aplicação."/>
		<add key="Login.Error" value="A conexão com a base de dados falhou."/>
		
		<add key="Success" value="Associações efectuadas com êxito!"/>
		<add key="Fail" value="As escolhas de items não é adequada! Por favor consulte a ajuda."/>
		<add key="Relations" value="Relações possíveis: 1 para n, n para 1, n para n!!!!"/>
		
		<add key="AssociationType1" value="Associação de 1 descrição para 1 objecto digital. Número de associações: {0}"/>
		<add key="AssociationType2" value="Associação de 1 descrição para N objectos digitais. Número de associações: {0}"/>
		<add key="AssociationType3" value="Associação de N descrições para 1 objecto digital. Número de associações: {0}"/>
		<add key="AssociationType4" value="Associação não permitida."/>
		
		<add key="ChooseProjects.EmptyProjectList" value="Não existem projectos de digitalização, logo não poderão ser criadas associações.
Este programa será encerrado."/>
			
		<add key="Association.gbxFonds" value="Fundos [{0}]"/>
		<add key="Association.gbxFondTree" value="Estrutura do fundo"/>
		<add key="Association.gbxDigitalObjects1" value="Objectos digitais [{0}]"/>
		<add key="Association.gbxDigitalObjects2" value="Objecto digital [{0}]"/>
		<add key="Association.lblNumberSelected" value="{0} item(s) seleccionado(s)"/>
		<add key="Association.lblNumberChecked" value="{0} item(s) seleccionado(s)"/>
		
		<add key="Association.ttOpenDO" value="Imagens"/>
		<add key="Association.ttOriginalNames" value="Nomes originais"/>
		<add key="Association.ttCollapseAll" value="Colapsar árvore"/>
		<add key="Association.ttExpandAll" value="Expandir árvore"/>
		<add key="Association.ttAssociations" value="Ver associações"/>
		<add key="Association.ttSelectAll" value="Seleccionar tudo"/>
		<add key="Association.ttUnSelectAll" value="Deseleccionar tudo"/>
		<add key="Association.ttAssociate" value="Associar"/>
		<add key="Association.ttViewDO" value="Ver objecto digital"/>
		<add key="Association.ttViewStructure" value="Ver estrutura do objecto digital"/>
		<add key="Association.ttViewDOList" value="Ver lista de objectos digitais"/>
	
		<add key="Prerequisites.Ok" value="Ok"/>
		<add key="Prerequisites.Failed" value="Falhou"/>
		<add key="Prerequisites.Recovered" value="Resolvido"/>
		<add key="Prerequisites.InitializingTest" value="A testar pré-requisitos..."/>
		<add key="Prerequisites.OperatingSystem" value="Sistema operativo {0}... "/>
		<add key="Prerequisites.ExistenceOfEacXslt" value="A verificar exportação para EAC... "/>
		<add key="Prerequisites.ExistenceOfCnfXslt" value="A verificar exportação para CALM... "/>
		<add key="Prerequisites.ExistenceOfStateConfig" value="A verificar ficheiro de configuração... "/>
		<add key="Prerequisites.Database" value="A verificar conexão á base de dados... "/>
		<add key="Prerequisites.DatabaseSQL" value="A verificar Script SQL... "/>
		<add key="Prerequisites.VersionOfAplication" value="A verificar versão da aplicação... "/>
		<add key="Prerequisites.PrerequisitesFailed" value="O teste de pré-requisitos falhou. A aplicação será terminada."/>
		<add key="Prerequisites.OpeningDigitArq" value="Sucesso"/>
		<add key="Prerequisites.AdministratorMissing" value="A verificar conta de administração... "/>
		<add key="Prerequisites.CreatedDatabase" value="
   &gt; A criar base de dados... "/>
		<add key="Prerequisites.CreatedUser" value="
   &gt; A criar utilizador(es)... "/>
		<add key="Prerequisites.CreateTables" value="
   &gt; A criar tabelas... "/>
		<add key="Prerequisites.ChangedOwnership" value="
   &gt; A atribuir privilégios... "/>	
		
		<add key="Database.Error" value="Ocorreu um erro na conexão à base de dados...
A aplicação será terminada."/>	
		
	</infoMessages>
	<!-- ******************************************************************** -->
	<!-- ******************************************************************** -->
	<errMessages>
		<add key="Login.Error" value="Ocorreu um erro ao efectuar a Autenticação!
Verifique a sua ligação à Base de Dados!"/>
		<add key="Login.InvalidLogin" value="Autenticação incorrecta!"/>
		<add key="DatabaseAccess.Error" value="Ocorreu um erro ao tentar aceder à base de dados.
Provavelmente trata-se de um problema de rede ou de mal configuração da base de dados!
"/>
		<add key="Validation.InvalidReference" value="Referência inválida"/>
		<add key="Validation.MissingDatesInLeaf" value="Datas extremas inválidas ou inexistentes"/>
		<add key="Validation.ContainerTypeNotDefined" value="Tipo de unidade de instalação não definido"/>
		<add key="Validation.UnitTitleNotDefined" value="Título não definido"/>
		<add key="Validation.HierarquicalInconsistency" value="Inconsistência hierárquica"/>
		<add key="Validation.PhysLocNotDefined" value="Localização física não definida"/>
		<add key="MsgBoxCustomError.AdvancedErrorDescription" value="Informação avançada:"/>
		<add key="MsgBoxCustomError.RecordOverflow" value="O registo introduzido excede o limite máximo de 8060 caracteres.
Por favor reduza a informação associada a este registo caso contrário a informação não permanecerá gravada."/>
		<add key="MsgBoxCustomError.SqlException" value="Ocorreu um erro ao tentar comunicar com a base de dados.
Contacte o administrador para resolver o problema."/>
		<add key="MsgBoxCustomError.Exception" value="Ocorreu um erro durante a execução do programa.
Contacte o administrador para resolver o problema."/>
		<add key="ErrorHandling.Exception" value="Não foi possível enviar o relatório."/>
	</errMessages>
	
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
