<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="sqlServerSettings" type="System.Configuration.DictionarySectionHandler"/>
		<section name="infoMessages" type="System.Configuration.DictionarySectionHandler"/>
		<section name="errMessages" type="System.Configuration.DictionarySectionHandler"/>
		<section name="logMessages" type="System.Configuration.DictionarySectionHandler"/>
		<section name="DerivativeSettings" type="System.Configuration.DictionarySectionHandler"/>
		<section name="TemplateSettings" type="System.Configuration.DictionarySectionHandler"/>
		<section name="constants" type="System.Configuration.DictionarySectionHandler"/>
		<section name="InstitutionSettings" type="System.Configuration.DictionarySectionHandler"/>
		<section name="EmailSettings" type="System.Configuration.DictionarySectionHandler"/>
	</configSections>

	<sqlServerSettings>
		<add key="ServerAddress" value=".\DIGITARQDBMS"/>
		<add key="Database" value="digitarq2"/>
		<add key="Username" value="digitarq2"/>
		<add key="Password" value="digitarq2008"/>
	</sqlServerSettings>
	
	<DerivativeSettings>
		<add key="DerivativeImageHeight" value="1000"/>
		<add key="ThumbImageWidth" value="100"/>
		<add key="ThumbImageQuality" value="100"/>
		
		<add key="WaterMarkImagePath" value="\..\resources\waterMark.png"/>
		<add key="WaterMarkPercentWidth" value="0.8"/>
		<add key="WaterMarkPercentXPosition" value="0.6"/>
		
		<add key="WaterMarkText" value="ARQUIVO MUNICIPAL DE OURÉM"/>
		<add key="WaterMarkTextXPosition" value="-400"/>
		<add key="WaterMarkTextYPosition" value="500"/>
	</DerivativeSettings>
	
	<TemplateSettings>
		<add key="LogoPath" value="\..\resources\logo.png"/>
	</TemplateSettings>
	
	<constants>		
		<!-- === Application Types === -->
		<!-- *** Client=0 *** -->
		<!-- *** Standalone=1 *** -->
		<add key="AplicationType" value="0"/>
	</constants>
	
	<InstitutionSettings>
		<add key="Institution.Code" value="CMO"/>
		<add key="Institution.Name" value="Município de Ourém"/>
		<add key="Institution.URL" value="http://www.cm-ourem.pt"/>
	</InstitutionSettings>
	
	<EmailSettings>
		<add key="Email.From" value="informatica@mail.cm-ourem.pt"/>
		<add key="Email.To" value="informatica@mail.cm-ourem.pt"/>
		<add key="SmtpMail.SmtpServer" value="mail.cm-ourem.pt"/>
		<add key="Email.Subject" value="Erro DigitArq: MGOD"/>
	</EmailSettings>
	
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="Application.Code" value="MGOD"/>
		<add key="Application.Name" value="Módulo de Gestão de Objectos Digitais"/>
		<add key="Application.FullName" value="Módulo de Gestão de Objectos Digitais {0}"/>
		<add key="Application.Version" value="2.1.2"/>
		<add key="lblVersion.Text" value="versão {0}"/>
			
		<add key="background" value="background.jpg"/>
		<add key="FieldsColor" value="Red"/>
		<add key="TextBoxColorOnFocus" value="khaki"/>
		<add key="ResponsabilityEntity" value="CPF"/>
		<add key="CaptureEntityCorporate" value="CPF"/>
		
		<add key="FirstText" value="Editar"/>
		<add key="SecondText" value="Guardar"/>
		
		<add key="Normal" value="Escala normal"/>
		<add key="Stretch" value="Ajustar à largura"/>
		
		<add key="SaveButton.Text" value="Novo"/>
		<add key="cBxImage.MaxDropDownItems" value="8"/>
		<add key="cBxImage.MaxLength" value="0"/>
		<add key="LinkClose.Text" value="Fechar"/>
		
		<!--===================================================-->
		<!--===== FORMS =======================================-->
		<!--===================================================-->
		<!-- FormLogin -->
		<add key="LoginForm.Text" value="Autenticação..."/>
		<add key="lblUsername.Text" value="Utilizador:"/>
		<add key="lblPassword.Text" value="Palavra-chave:"/>
		<add key="btnLogin.Text" value="&amp;Autenticar"/>
		<add key="btnCloseLoginForm.Text" value="&amp;Cancelar"/>
		
		<!-- SplashScreenLogin -->
		<add key="LinkClose.Text" value="Fechar"/>
		
		<!-- ChooseProject -->
		<add key="CP.gbxProjects.Text" value="Projectos"/>
		<add key="CP.gbxInfo.Text" value="Informação Geral"/>
		<add key="CP.lblName.Text" value="Nome"/>
		<add key="CP.lblLocation.Text" value="Localização"/>
		<add key="CP.lblEmployee.Text" value="Criado por"/>
		<add key="CP.lblCreationDateTime.Text" value="Data criação"/>
		<add key="CP.lblLastUpdate.Text" value="Última alteração"/>
		<add key="CP.lblDescription.Text" value="Observações"/>
		
		<add key="MenuFicheiro.Text" value="&amp;Projectos"/>
		<add key="SairM.Text" value="&amp;Sair"/>
		<add key="EditPD.Text" value="Perfis de digitalização"/>
		<add key="EditPT.Text" value="Plataforma tecnológica"/>
		<add key="EditBD.Text" value="Formas de medição"/>
		<add key="EditIC.Text" value="Tipos de focagem"/>
		<add key="EditIF.Text" value="Tipos de Formato de Imagem"/>
		<add key="EditLT.Text" value="Tipos de iluminação"/>
		<add key="EditIR.Text" value="Intervalo de revisão"/>
		<add key="MenuItem2.Text" value="Objectos Digitais"/>
		<add key="MenuMetaOD.Text" value="Meta-Informação do Objecto Digital"/>
		<add key="MenuDP.Text" value="Perfis de Digitalização"/>
		<add key="MenufilesDO.Text" value="Ficheiros do Objecto Digital"/>
		<add key="MenuProjectos.Text" value="Projectos"/>
		<add key="About.Text" value="About"/>
		<add key="MenuItem3.Text" value="Pr&amp;eferências"/>
		<add key="MenuRelatorios.Text" value="&amp;Relatórios"/>
		<add key="MenuItem9.Text" value="&amp;Ajuda"/>
		
		<!-- DigitalObjectsForm -->
				
		<add key="DigitalObjectsForm.Text" value="Gestão Objectos Digitais"/>
		<add key="lblEscolhaOD.Text" value="Escolha o objecto digital a consultar:"/>
		<add key="lblPesquisa.Text" value="Pesquisar:"/>
		<add key="tabInfoTec.Text" value="Informação Técnica"/>
		<add key="tabImg.Text" value="Ficheiros"/>
		<add key="verPDF.Text" value="Visualizar PDF"/>
		<add key="verImgTd.Text" value="Escala normal"/>
		<add key="novoOD.Text" value="Novo objecto digital"/>
		<add key="Button1.Text" value="Escolher"/>
		
		<add key="btnStrutuctDO.Text" value="Estruturar objecto digital"/>
		<add key="btnEditDO.Text" value="Editar Info"/>
		
		<add key="lblCaptureEntityIndividual.Text" value="Individuo Produtor"/>
		<add key="lblCaptureEntityCorporate.Text" value="Entidade Produtora"/>
		<add key="lblResponsabilityEntity.Text" value="Entidade Responsável"/>
		<add key="lblArchivingProfile.Text" value="Documentação de Apoio"/>
		<add key="lblExternalDescriptiveInformation.Text" value="Informação Descritiva Externa"/>
		<add key="lblPreservationOriginalInformation.Text" value="Preservação do objecto digital Original"/>
		<add key="lblQuantityOfTerminalObjects.Text" value="N.º Imagens"/>
		<add key="lblDepositDateTime.Text" value="Data Depósito"/>
		<add key="lblRevisionDateTime.Text" value="Data Revisão"/>
		<add key="lblArchiveDateTime.Text" value="Data Integração"/>
		<add key="lblCreationDateTime.Text" value="Data Criação"/>
		<add key="lblTopographicalQuota.Text" value="Cota Topográfica"/>
		<add key="lblArchiveID.Text" value="Identificação Suporte"/>
		<add key="lblNome1.Text" value="Nome"/>
		<add key="lblconsultarImg.Text" value="Consultar Imagens"/>
		
		
		<!-- NewDigitalObject.vb -->
		<add key="groupInfoGeral.Text" value="Informação Geral"/>
		<add key="groupEntities.Text" value="Entidades"/>
		<add key="groupDates.Text" value="Datas"/>
		<add key="grpBxInformacaoAdicional.Text" value="Informação Objecto Digital"/>
		<add key="associar.Text" value="Associar Ficheiros"/>
		<add key="estruturar.Text" value="Estruturar objecto digital"/>
		<add key="btnSave.Text" value="Guardar"/>
		<add key="NewDigitalObject.Text" value="Novo Objecto Digital"/>
		<add key="lblTamanho.Text" value="Tamanho"/>
		<add key="lblResolucao.Text" value="Resolução"/>
		<add key="lblCores.Text" value="Cores"/>
		<add key="lblProfundidade.Text" value="Profundidade Bits"/>
		<add key="lblAltura.Text" value="Altura"/>
		<add key="lblLargura.Text" value="Largura"/>
		<add key="lblTipoMIME.Text" value="Tipo MIME"/>
		<add key="lblCompressao.Text" value="Compressão"/>
		<add key="lblPerfil.Text" value="Perfil"/>
		<add key="groupInfoPreservation.Text" value="Informação Preservação"/>
		<add key="btnRemoveOD.Text" value="Retirar de Linha"/>
		<add key="btnEliminarOD.Text" value="Eliminar"/>
		<add key="GroupBox2.Text" value="Informação Ficheiro"/>
		<add key="btnDeleteF.Text" value="Eliminar Ficheiros"/>
		<add key="btnAdd.Text" value="&amp;Novo nodo"/>
		<add key="btnDelete.Text" value="Eliminar"/>
		<add key="btnRename.Text" value="&amp;Renomear"/>
		<add key="lblScanner1.Text" value="Plataforma"/>
		<add key="bttnDelete.Text" value="Eliminar"/>
		<add key="bttnCancelar.Text" value="Cancelar"/>
		
		<add key="bttnSave.Text" value="Novo"/>
		<add key="Label4.Text" value="Nome"/>
		<add key="Label1.Text" value="        Projects with digital objects that need revision."/>
		<add key="Label2.Text" value="Brilho"/>
		<add key="Label6.Text" value="Contraste"/>
		<add key="Label3.Text" value="Focagem"/>
		<add key="Label5.Text" value="Desfocagem"/>
		<add key="Label7.Text" value="Descrição"/>
		<add key="btnRemove.Text" value="Eliminar"/>
		<add key="BtnInsert.Text" value="Novo"/>
		<add key="alterar.Text" value="Cancelar"/>
		<add key="groupInfo.Text" value="Informação geral"/>
		<add key="novo.Text" value="Novo"/>
		<add key="lblValor.Text" value="Valor"/>
		<add key="lblDescricao.Text" value="Descrição"/>
		<add key="eliminar.Text" value="Eliminar"/>
		<add key="BttnRemove.Text" value="Eliminar"/>
		<add key="lblRevisionInterval.Text" value="Intervalo de revisão actual:"/>
		<add key="EditRevisionInterval.Text" value="Intervalo de Revisão"/>
		<add key="BtnChange.Text" value="Editar Info"/>
		<add key="btnChoose.Text" value="Cancelar"/>
		<add key="lblLampType1.Text" value="Iluminância"/>
		
		<add key="CheckBox1.Text" value="Activo"/>
		<add key="lblAttention.Text" value="Projectos com objectos digitais que precisam de revisão."/>
		
		
		
		<add key="groupIluminancia.Text" value=""/>
		<add key="lnkClose.Text" value="Fechar"/>
		<add key="txtAbout.Text" value=""/>
		
		<!-- TechnologicalPlatformForm.vb -->
		<add key="frmTechnologicalPlatform.Text" value="Plataforma tecnológica"/>
		<add key="gbxTechnologicalPlatform.Text" value="Plataforma tecnológica"/>
		<add key="gbxInfo.Text" value="Informação"/>
		<add key="lblOSVersion1.Text" value="Versão"/>
		<add key="lblOperatingSystem1.Text" value="Sistema Operativo"/>
		<add key="lblScanningSoftwareVersion1.Text" value="Versão do Software "/>
		<add key="lblScanningSoftware1.Text" value="Software captura"/>
		<add key="lblScannerManufacturer1.Text" value="Fabricante"/>
		<add key="lblDeviceSource1.Text" value="Dispositivo captura"/>
		<add key="lblModelName1.Text" value="Modelo"/>
		
		<!-- DigitalizationProfilesForm.vb -->
		<add key="DP.Text" value="Perfis de digitalização"/>
		<add key="DP.gbxDigitalizationProfiles.Text" value="Perfis de digitalização"/>
		<add key="DP.gbxNewDigitalizationProfile.Text" value="Novo perfil de digitalização"/>
		<add key="DP.gbxInfo.Text" value="Informação"/>
		<add key="DP.lblProfileName.Text" value="Nome Perfil"/>
		<add key="DP.lblDescription.Text" value="Descrição"/>
		<add key="DP.lblResolution.Text" value="Resolução"/>
		<add key="DP.lblFormat.Text" value="Formato"/>
		<add key="DP.lblBitDepth.Text" value="Profundidade bits"/>
		<add key="DP.lblCompression.Text" value="Compressão"/>
		<add key="DP.lblBrightness.Text" value="Brilho"/>
		<add key="DP.lblContrast.Text" value="Contraste"/>
		<add key="DP.lblSharpness.Text" value="Focagem"/>
		<add key="DP.lblBlur.Text" value="Desfocagem"/>
		<add key="DP.cbxRotation.Text" value="Rotação 90°"/>
		<add key="DP.btnNewProfile.Text" value="Novo perfil"/>
		<add key="DP.btnDeleteProfile.Text" value="Eliminar perfil"/>
				
		<!-- LampTypesForm.vb -->
		<add key="LT.Text" value="Tipos de iluminação"/>
		
		<!-- AutoFocusForm.vb -->
		<add key="AF.Text" value="Tipos de focagem"/>
		
		<!-- RevisionIntervalForm.vb -->
		<add key="RI.Text" value="Intervalo de revisão"/>
		<add key="RI.lblRevisionInterval_.Text" value="Intervalo de revisão actual:"/>
		<add key="RI.lblYears.Text" value="(anos)"/>
		
		
		<!--===================================================-->
		<!--===== MPOD ========================================-->
		<!--===================================================-->
		<!-- ChooseProjectForm -->	
		<add key="CP.gbxProjects.Text" value="Projectos"/>
		<add key="CP.gbxInfo.Text" value="Informação Geral"/>
		<add key="CP.lblName.Text" value="Nome"/>
		<add key="CP.lblLocation.Text" value="Localização"/>
		<add key="CP.lblEmployee.Text" value="Criado por"/>
		<add key="CP.lblCreationDateTime.Text" value="Data criação"/>
		<add key="CP.lblLastUpdateDateTime.Text" value="Última alteração"/>
		<add key="CP.lblDescription.Text" value="Observações"/>
		<add key="CP.lblWarning.Text" value="Projectos com objectos digitais que precisam de revisão."/>
		
		<!-- AssociationForm -->
		
		<!-- AssDOForm -->
		<add key="ADO.gbxdescriptions.Text" value="Descrições"/>
		
		<!-- AssComponentForm -->
		<add key="AC.gbxDigitalObjects.Text" value="Objectos digitais"/>
				
				
		<!-- Buttons -->
		<add key="btnClose.Text" value="Fechar"/>
		<add key="btnNew.Text" value="Novo"/>
		<add key="btnDelete.Text" value="Eliminar"/>
		<add key="btnEdit.Text" value="Editar"/>
		<add key="btnSave.Text" value="Guardar"/>
		<add key="btnCancel.Text" value="Cancelar"/>
		<add key="btnRecover.Text" value="Recuperar"/>
		<add key="btnAssociate.Text" value="Associar Ficheiros"/>
		<add key="btnOpenProject.Text" value="Abrir projecto"/>
		<add key="btnNewProject.Text" value="Novo"/>
		<add key="btnDeleteProject.Text" value="Remover"/>
		<add key="btnDeleteAssociation.Text" value="Remover associação"/>
		<add key="btnViewDO.Text" value="Abrir"/>
	</appSettings>

	<logMessages>
		<add key="Log.Login" value="Logged in as {0} on {1}"/>
		<add key="Log.ClosedApplication" value="Closed Application"/>
		<add key="Log.EditNode" value="Digital Object {0} {1} was edited"/>
		<add key="Log.AppendNode" value="Digital Object {1} was appended to project {0}"/>
		<add key="Log.RemoveNode" value="Digital Object {0} {1} was removed"/>	
	</logMessages>
	
	<infoMessages>
		<add key="Login.ErrorUsernamePass" value="Utilizador ou palavra-chave inválidos."/>
		<add key="Login.ErrorNotProfile" value="Não tem perfil associado para aceder à aplicação."/>
		<add key="Login.ErrorNotActive" value="Utilizador inactivo."/>
		<add key="Login.ErrorAplicationAccessDenied" value="Acesso negado a esta aplicação."/>
		<add key="Login.Error" value="A conexão com a base de dados falhou."/>
		
		<add key="Projects.New" value="Projecto criado com êxito!"/>
		<add key="Projects.Changed" value="Projecto alterado com êxito!"/>
		<add key="Projects.InvalidName" value="Campo 'Designação' inválido. O prefixo deve ser seguido de um código de projecto. E.g. DGARQ2008P-SGU."/>
		<add key="Projects.InvalidLocation" value="Preencha o campo 'Localização'."/>
		<add key="Projects.NameAlreadyExists" value="A pasta com o nome escolhido para o projecto já existe."/>
		<add key="Projects.MovedDirectory" value="A directoria foi movida de '{0}' para '{1}'!"/>
		
		<add key="DigitalObjects.New" value="Objecto Digital criado com êxito!"/>
		<add key="DigitalObjects.Changed" value="Objecto Digital alterado com êxito!"/>
		<add key="DigitalObjects.WrongDepositDate" value="A 'Data depósito' deverá ser superior à 'Data criação'!"/>
		<add key="DigitalObjects.WrongCreationDate" value="A 'Data integração' deverá ser superior à 'Data criação'!"/>
		<add key="DigitalObjects.MissingCreationDateTime" value="A 'Data de Criação' deverá ser preenchida!"/>
		<add key="DigitalObjects.MissingArchiveDateTime" value="A 'Data de Integração' deverá ser preenchida!"/>
		<add key="DigitalObjects.InvalidNode" value="Apenas é possível adicionar nodos a directorias!"/>
		<add key="DigitalObjects.EmptyNode" value="O nome do nodo não pode ser vazio."/>
		<add key="DigitalObjects.RenomeNode" value="Só é possível renomear."/>
		<add key="DigitalObjects.CircularDependence" value="O item não pode ser movido pois irá causar uma dependência circular!"/>
		<add key="DigitalObjects.TPChange" value="Plataforma tecnológica alterada com êxito!"/>
		<add key="DigitalObjects.DPChange" value="Perfil de digitalização alterado com êxito!"/>
		<add key="DigitalObjects.LTChange" value="Ambiente iluminante alterado com êxito!"/>
		<add key="DigitalObjects.InvalidName" value="Nome de ficheiro já existente!"/>
		<add key="DigitalObjects.EmptyDigitalizationProfiles" value="Antes de adicionar ficheiros é necessário criar um perfil de digitalização."/>
				
		<add key="DigitalizationProfiles.Delete" value="Pretende eliminar o perfil '{0}' da base de dados?"/>
		<add key="DigitalizationProfiles.Success" value="Perfil eliminado da base de dados!"/>
		<add key="DigitalizationProfiles.New" value="Novo perfil adicionado à base de dados!"/>
		<add key="DigitalizationProfiles.Changed" value="Perfil alterado com êxito!"/>
		<add key="DigitalizationProfiles.InvalidName" value="Preencha o campo 'Nome do Perfil'!"/>		
		<add key="DigitalizationProfiles.ChangeProfile" value="Pretende alterar o perfil de digitalização associado ao ficheiro seleccionado?"/>
		<add key="DigitalObjects.LoadCD" value="Introduza o CD do OD a recuperar "/>
		<add key="DigitalObjects.LoadingCD" value="Recuperar Objecto Digital"/>
		<add key="DigitalObjects.Recovering" value="A recuperar "/>
		<add key="DigitalObjects.NextCD" value="Insira o próximo CD"/>
		<add key="DigitalObjects.InvalidCD" value="O CD não contém o Objecto Digital seleccionado"/>
		<add key="DigitalObjects.Image" value="A imagem "/>
		<add key="DigitalObjects.Corrupted" value=" pode estar corrompida."/>
		<add key="DigitalObjects.Recover" value="Imagem será recuperada!"/>
		<add key="DigitalObjects.RevisionDateTime" value="Data de revisão do objecto digital alterada para: "/>
		<add key="DigitalObjects.AllImagesRecovered" value="Todos os ficheiros recuperados!"/>
		<add key="DigitalObjects.DeleteProject" value="Pretende eliminar o projecto e todos os objectos digitais associados?"/>
		<add key="DigitalObjects.DeleteOD" value="Pretende eliminar o objecto digital e todas as imagens associadas?"/>
		<add key="DigitalObjects.DeleteDerivatives" value="Pretende eliminar todas as derivadas do objecto digital?"/>
		<add key="DigitalObjects.DeletedProject" value="Projecto eliminado com êxito da base de dados!"/>
		<add key="DigitalObjects.DeletedOD" value="Objecto digital eliminado com êxito da base de dados!"/>
		<add key="DigitalObjects.DeletedDerivatives" value="Derivadas do objecto digital eliminadas com êxito da base de dados!"/>
		<add key="DigitalObjects.ImpossibleDelete" value="Não é possível eliminar um objecto digital com ficheiros digitalizados associados!"/>
		<add key="DigitalObjects.DeleteDirectory" value="Deverá apagar cada um dos ficheiros associados a esta directoria!"/>
		<add key="DigitalObjects.DeleteFile" value="Pretende eliminar o nodo seleccionado associado ao objecto digital "/>
		<add key="DigitalObjects.DeleteAllFiles" value="Pretende eliminar o nodo seleccionado e todos os seus descendentes?"/>
		<add key="DigitalObjects.DeletedFile" value="Ficheiro eliminado definitivamente da base de dados!"/>
		<add key="DigitalObjects.NoneSelected" value="Não foi seleccionado nenhum nodo!"/>
		<add key="DigitalObjects.Offline" value="Pretende retirar de linha o objecto digital seleccionado?"/>
		<add key="DigitalObjects.Online" value="Pretende colocar em linha o objecto digital seleccionado?"/>
		<add key="DigitalObjects.ActiveFalse" value="Objecto digital retirado de linha."/>
		<add key="DigitalObjects.ActiveTrue" value="Objecto digital colocado em linha."/>
		
		<add key="AddNode.InvalidName" value="Preencha o campo 'Nome'!"/>
		<add key="AddNode.InvalidPath" value="Tamanho do item não deverá exceder os 50 caracteres. {0} Quer limitar aos 50 caracteres?"/>
		<add key="AddNode.InvalidPath2" value="O tamanho completo do caminho não pode exceder os 255 caracteres. {0} O tamanho actual do caminho completo é: {1}.  {2} O item não será adicionado."/>
		
		<add key="TechnologicalPlatform.Delete" value="Plataforma tecnológica eliminada com êxito da base de dados."/>
		<add key="TechnologicalPlatform.InvalidName" value="Preencha o campo 'Modelo Dispositivo'!"/>
		<add key="TechnologicalPlatform.Insert" value="Plataforma Tecnológica guardada com êxito!"/>
		<add key="TechnologicalPlatform.Changed" value="Plataforma Tecnológica alterada com êxito!"/>
		
		<add key="Entity.Name" value="AMO"/>
		
		<add key="AddFile.FormatNotSupported" value="Formatos não suportados."/>
		<add key="AddFile.ChooseProfile" value="Escolha o 'Perfil de Digitalização'!"/>
		<add key="AddFile.NewFile" value="Ficheiro(s) guardado(s) com êxito!"/>
		<add key="AddFile.FileAlreadyExist" value="Ficheiro já existente associado a este objecto digital!"/>
		<add key="AddFile.Override" value="Pretende substituir o existente pelo novo?"/>
		
		<add key="EditUtilities.FormatosImagens" value="Formatos de imagens"/>
		<add key="EditUtilities.Formatos" value="Formatos"/>
		<add key="EditUtilities.TiposCompressão" value="Tipos de Compressão"/>
		<add key="EditUtilities.TiposProfundidade" value="Tipos de profundidade"/>
		<add key="EditUtilities.DeleteInfo" value="Pretende eliminar o registo seleccionado da base de dados?"/>
		
		<add key="LampType.NewLampType" value="Novo tipo de iluminação guardado com êxito!"/>
		<add key="LampType.DeleteLampType" value="Pretende eliminar o tipo de iluminação '"/>
		<add key="LampType.EditLampType" value="Tipo de iluminação alterado com êxito!"/>
		<add key="LampType.StrNewLampType" value="Introduza o novo ambiente iluminante:"/>
		<add key="LampType.StrEditLampType" value="Introduza o novo valor para o ambiente iluminante:"/>
		<add key="LampType.Title" value="Tipos de iluminação"/>
		
		<add key="MeteringMode.NewMeteringMode" value="Nova forma de medição guardado com êxito!"/>
		<add key="MeteringMode.DeleteMeteringMode" value="Pretende eliminar a forma de medição '"/>
		<add key="MeteringMode.EditMeteringMode" value="Forma de medição alterado com êxito!"/>
		<add key="MeteringMode.Title" value="Formas de medição"/>
		
		<add key="AutoFocus.NewAutoFocus" value="Novo tipo de focagem guardado com êxito!"/>
		<add key="AutoFocus.DeleteAutoFocus" value="Pretende eliminar o tipo de focagem '"/>
		<add key="AutoFocus.EditAutoFocus" value="Tipo de focagem alterado com êxito!"/>
		<add key="AutoFocus.Title" value="Tipos de focagem"/>
				
		<add key="RevisionInterval.ChangedValue" value="Intervalo de revisão alterado com êxito!"/>
		<add key="RevisionInterval.InvalidValue" value="Preencha o campo de 'Intervalo de revisão'!"/>
		
		<add key="TechnologicalPlatform.ChangeScanner" value="Pretende alterar a plataforma tecnológica associada ao ficheiro seleccionado?"/>
		<add key="TechnologicalPlatform.DeleteScanner" value="Pretende eliminar a plataforma tecnológica seleccionada da base de dados?"/>
		
		<add key="ImageFormat.NewValue" value="Novo formato de imagem guardado com êxito!"/>
		<add key="ImageFormat.EditedValue" value="Formato de imagem alterado com êxito!"/>
		<add key="ImageFormat.DeletedValue" value="Formato de imagem eliminado com êxito!"/>
		
		<add key="ReformattingMethod.NewValue" value="Novo método de reformatação guardado com êxito!"/>
		<add key="ReformattingMethod.EditedValue" value="Método de reformatação alterado com êxito!"/>
		<add key="ReformattingMethod.DeletedValue" value="Método de reformatação eliminado com êxito!"/>
		
		<add key="ReformattingNorm.NewValue" value="Nova norma de reformatação guardada com êxito!"/>
		<add key="ReformattingNorm.EditedValue" value="Norma de reformatação alterada com êxito!"/>
		<add key="ReformattingNorm.DeletedValue" value="Norma de reformatação eliminada com êxito!"/>
		
		<add key="ImageCompression.NewValue" value="Tipo de compressão de imagem guardado com êxito!"/>
		<add key="ImageCompression.EditedValue" value="Tipo de compressão alterado com êxito!"/>
		<add key="ImageCompression.DeletedValue" value="Tipo de compressão de imagem eliminado com êxito!"/>
		
		<add key="ImageBitDepth.NewValue" value="Novo tipo de profundidade de imagem guardado com êxito!"/>
		<add key="ImageBitDepth.EditedValue" value="Tipo de profundidade de imagem alterado com êxito!"/>
		<add key="ImageBitDepth.DeletedValue" value="Tipo de profundidade de imagem eliminado com êxito!"/>
		
		<add key="RevisionInterval.NewInterval" value="Pretende adicionar um novo intervalo de revisão?"/>
		<add key="RevisionInterval.NewValue" value="Introduza o novo intervalo de revisão:"/>
		
		<add key="PreservationAction.Title" value="Acção de preservação"/>
		<add key="PreservationAction.NewValue" value="Nova acção de preservação guardada com êxito!"/>
		
		<add key="txtAbout.Text" value="O DigitArq é um conjunto de ferramentas destinadas à  produção e gestão de objectos 
digitais, produzido pelo ARQUIVO DISTRITAL DO PORTO (ADP) com a assessoria do
Departamento de Informática da Universidade do Minho. O desenvolvimento
informático esteve a cargo de: Ana Maria Martins Henriques, José Carlos Ramalho
 (Universidade do Minho), José Miguel Araújo Ferreira e Maria Celeste Marques Pinto.

O DigitArq foi desenvolvido no âmbito do projecto DigitArq - Produção, Conversão e
Gestão de Conteúdos Digitais de Arquivo, financiado pelo Instituto dos Arquivos 
Nacionais/Torre do Tombo e pela União Europeia (FEDER) através do Programa 
Operacional da Cultura (POC).

© ADP"/>
		
		<add key="Success" value="Associações efectuadas com êxito!"/>
		<add key="Fail" value="As escolhas de items não é adequada! Por favor consulte a ajuda."/>
		<add key="Relations" value="Relações possíveis: 1 para n, n para 1, n para n!!!!"/>
		
		<add key="AssociationType1" value="Associação de 1 descrição para 1 objecto digital. Número de associações: {0}"/>
		<add key="AssociationType2" value="Associação de 1 descrição para N objectos digitais. Número de associações: {0}"/>
		<add key="AssociationType3" value="Associação de N descrições para 1 objecto digital. Número de associações: {0}"/>
		<add key="AssociationType4" value="Associação não permitida."/>
		
		<add key="Association.gbxFonds" value="Fundos [{0}]"/>
		<add key="Association.gbxFondTree" value="Estrutura do fundo"/>
		<add key="Association.gbxDigitalObjects1" value="Objectos digitais [{0}]"/>
		<add key="Association.gbxDigitalObjects2" value="Objecto digital [{0}]"/>
		<add key="Association.lblNumberSelected" value="{0} item(s) seleccionado(s)"/>
		<add key="Association.lblNumberChecked" value="{0} item(s) seleccionado(s)"/>
		
		<add key="Association.ttOpenDO" value="Imagens"/>
		<add key="Association.ttOriginalNames" value="Nomes originais"/>
		<add key="Association.ttCollapseAll" value="Colapsar árvore"/>
		<add key="Association.ttExpandAll" value="Expandir árvore"/>
		<add key="Association.ttAssociations" value="Ver associações"/>
		<add key="Association.ttSelectAll" value="Seleccionar tudo"/>
		<add key="Association.ttUnSelectAll" value="Deseleccionar tudo"/>
		<add key="Association.ttAssociate" value="Associar"/>
		<add key="Association.ttViewDO" value="Ver objecto digital"/>
		<add key="Association.ttViewStructure" value="Ver estrutura do objecto digital"/>
		<add key="Association.ttViewDOList" value="Ver lista de objecto digital"/>
		
		<add key="Prerequisites.Ok" value="Ok"/>
		<add key="Prerequisites.Failed" value="Falhou"/>
		<add key="Prerequisites.Recovered" value="Resolvido"/>
		<add key="Prerequisites.InitializingTest" value="A testar pré-requisitos..."/>
		<add key="Prerequisites.OperatingSystem" value="Sistema operativo {0}... "/>
		<add key="Prerequisites.ExistenceOfEacXslt" value="A verificar exportação para EAC... "/>
		<add key="Prerequisites.ExistenceOfCnfXslt" value="A verificar exportação para CALM... "/>
		<add key="Prerequisites.ExistenceOfStateConfig" value="A verificar ficheiro de configuração... "/>
		<add key="Prerequisites.Database" value="A verificar Base de Dados... "/>
		<add key="Prerequisites.DatabaseSQL" value="A verificar Script SQL... "/>
		<add key="Prerequisites.VersionOfAplication" value="A verificar versão da aplicação... "/>
		<add key="Prerequisites.PrerequisitesFailed" value="O teste de pré-requisitos falhou. A aplicação será terminada."/>
		<add key="Prerequisites.OpeningDigitArq" value="Sucesso"/>
		<add key="Prerequisites.AdministratorMissing" value="A verificar conta de administração... "/>
		<add key="Prerequisites.CreatedDatabase" value="
   &gt; A criar base de dados... "/>
		<add key="Prerequisites.CreatedUser" value="
   &gt; A criar utilizador(es)... "/>
		<add key="Prerequisites.CreateTables" value="
   &gt; A criar tabelas... "/>
		<add key="Prerequisites.ChangedOwnership" value="
   &gt; A atribuir privilégios... "/>
	</infoMessages>
	<!-- ******************************************************************** -->
	<!-- ******************************************************************** -->
	<errMessages>
		<add key="Login.Error" value="Ocorreu um erro ao efectuar a Autenticação!
Verifique a sua ligação à Base de Dados!"/>
		<add key="Login.InvalidLogin" value="Autenticação incorrecta!"/>
		<add key="DatabaseAccess.Error" value="Ocorreu um erro ao tentar aceder à base de dados.
Provavelmente trata-se de um problema de rede ou de mal configuração da base de dados!
"/>
		<add key="Validation.InvalidReference" value="Referência inválida"/>
		<add key="Validation.MissingDatesInLeaf" value="Datas extremas inválidas ou inexistentes"/>
		<add key="Validation.ContainerTypeNotDefined" value="Tipo de unidade de instalação não definido"/>
		<add key="Validation.UnitTitleNotDefined" value="Título não definido"/>
		<add key="Validation.HierarquicalInconsistency" value="Inconsistência hierárquica"/>
		<add key="Validation.PhysLocNotDefined" value="Localização física não definida"/>
		<add key="MsgBoxCustomError.AdvancedErrorDescription" value="Informação avançada:"/>
		<add key="MsgBoxCustomError.RecordOverflow" value="O registo introduzido excede o limite máximo de 8060 caracteres.
Por favor reduza a informação associada a este registo caso contrário a informação não permanecerá gravada."/>
		<add key="MsgBoxCustomError.SqlException" value="Ocorreu um erro ao tentar comunicar com a base de dados.
Contacte o administrador para resolver o problema."/>
		<add key="MsgBoxCustomError.Exception" value="Ocorreu um erro durante a execução do programa.
Contacte o administrador para resolver o problema."/>
		<add key="ErrorHandling.Exception" value="Não foi possível enviar o relatório."/>
	</errMessages>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
